<!DOCTYPE html>
<html lang="en">
<head>
    <title>F1 2026 | Predict</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="home-container">
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/33/F1.svg" 
                 style="width: 180px; height: auto; object-fit: contain; margin-bottom: -10px;">
            
            <h1 style="font-size: 3rem; margin: 0; font-weight: 700; ; letter-spacing: 0.5px; font-style:'F1 Regular';"">Predict 2026</h1>
        </div>
        
        <div class="menu-grid">
            <a href="/rank/drivers" class="menu-card" 
               style="background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-2053300864.jpg?c=original');">
                <div class="menu-overlay">
                    <div class="menu-title">DRIVERS</div>
                </div>
            </a>
            
            <a href="/rank/teams" class="menu-card" 
               style="background-image: url('https://images.pexels.com/photos/29406740/pexels-photo-29406740.jpeg?cs=srgb&dl=pexels-jonathanborba-29406740.jpg&fm=jpg');">
                <div class="menu-overlay">
                    <div class="menu-title">TEAMS</div>
                </div>
            </a>
        </div>
    </div>
     <footer>
        <p style="text-align: center; font-weight: bold; color: #666; margin-top: 40px;">By Saeid</p>
    </footer>
</body>

</html>